.post-container {
    /* border: 2px solid lime; */
    padding: 1em 3em;
    border-radius: 15px;
    background-color: var(--dark-200);
}

.title {
    color: var(--primary-100);
}

.content {
    color: var(--font-color);
}

.content h1, h2, h3 {
    color: var(--primary-300);
}

.controls {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}