:root {
  /* Color variables */
  --primary-100: #02f5a0;
  --primary-200: #4ef7aa;
  --primary-300: #70f9b5;
  --primary-400: #8afabf;

  --dark-100: #121212;
  --dark-200: #282828;
  --dark-300: #3f3f3f;
  --dark-400: #575757;
  --dark-500: #717171;

  --font-color: #fff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* min-width: 100vw; */
  min-height: 100vh;
  background-color: var(--dark-100);
}

/* Hide scrollbar for Chrome, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}
